<a href="https://colab.research.google.com/github/SilahicAmil/NLP-NLTK/blob/main/Tweet_Sentiment_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Generating Shakespeare Hamlet Text

In [3]:
# Imports
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

# Sklearn

# Tesnorflow

#Keras

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [4]:
train_df = pd.read_csv("/content/drive/MyDrive/Tweet_Sentiment/tweet-sentiment-extraction/train.csv")
test_df = pd.read_csv("/content/drive/MyDrive/Tweet_Sentiment/tweet-sentiment-extraction/test.csv")

In [5]:
train_df.head()

       textID  ... sentiment
0  cb774db0d1  ...   neutral
1  549e992a42  ...  negative
2  088c60f138  ...  negative
3  9642c003ef  ...  negative
4  358bd9e861  ...  negative

[5 rows x 4 columns]

In [6]:
train_df = train_df.drop("selected_text", 1)

In [7]:
train_df.head()

       textID                                               text sentiment
0  cb774db0d1                I`d have responded, if I were going   neutral
1  549e992a42      Sooo SAD I will miss you here in San Diego!!!  negative
2  088c60f138                          my boss is bullying me...  negative
3  9642c003ef                     what interview! leave me alone  negative
4  358bd9e861   Sons of ****, why couldn`t they put them on t...  negative

In [9]:
# Shuffle df
shuffled_train_df = train_df.sample(frac=1, random_state=42)
shuffled_train_df.head()

           textID                                               text sentiment
1588   a7f72a928a   WOOOOOOOOOO   are you coming to Nottingham at...  positive
23879  ef42dee96c                 resting had a whole day of walking   neutral
6561   07d17131b1  was in Palawan a couple of days ago, i`ll try ...   neutral
2602   2820205db5   I know! I`m so slow its horrible. DON`T TELL ...  negative
4003   7d3ce4363c  Glad I went out, glad I didn`t leave early, an...  positive

In [11]:
# Test data
test_df.head()
test_df = test_df.drop("sentiment", 1)

In [12]:
test_df.head()

       textID                                               text
0  f87dea47db  Last session of the day  http://twitpic.com/67ezh
1  96d74cb729   Shanghai is also really exciting (precisely -...
2  eee518ae67  Recession hit Veronique Branquinho, she has to...
3  01082688c6                                        happy bday!
4  33987a8ee5             http://twitpic.com/4w75p - I like it!!